body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    margin-top: 25px;
}

input {
    display: inline-block;
    border: none;
    outline: none;
}

input:focus {
    outline: none;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#title {
    font-size: 30px;
}

#user {
    font-size: 12px;
}

#story {
    font-size: 18px;
}

input[type="submit"] {
    padding: 5px 15px;
    background: #fff;
    border: 2.9px solid #111;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 80px;
    text-transform: uppercase;
    font-weight: 800;
}

#postSection {
    display: none;
}

#titlePost {
    font-size: 30px;
}

#userPost {
    font-size: 12px;
}

#storyPost {
    font-size: 18px;
}

#warning {
    color: red;
}

footer {
    padding: 8px 40px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: auto;
    font-weight: 900;
}

@media only screen and (max-width: 600px) {
    #form {
        width: 100%;
    }
}
