html {
    display: block;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}

input {
    display: inline-block;
    border: none;
    outline: none;
}

input:focus {
    outline: none;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#title {
    font-size: 30px;
}

#name {
    font-size: 12px;
}

#story {
    font-size: 18px;
}

input[type="submit"] {
    padding: 5px 15px;
    background: #fff;
    border: 2.9px solid #111;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 80px;
    text-transform: uppercase;
    font-weight: 800;
}

@media only screen and (max-width: 600px) {
    #form {
        width: 100%;
    }
}
